<div class="m-content">
  <div id="tool-btn-container-phylo" class="m-portlet tool-btn-container">
    <span style="overflow: visible; position: relative; width: 110px;">
      <a title="Settings" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openSettings()"><i class="flaticon-settings primary"></i></a>
    </span>
    <span style="overflow: visible; position: relative; width: 110px;">
      <a title="Export Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openExport()"><i class="flaticon-download primary"></i></a>
    </span>
    <span style="overflow: visible; position: relative; width: 110px;">
      <a title="Center Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openCenter()"><i class="flaticon-eye primary"></i></a>
    </span>
    <span style="overflow: visible; position: relative; width: 110px;">
      <a title="Restore Full Tree" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="restoreFullTree()" [style.opacity]="hasTreeBeenModifiedFromOriginal ? 1 : 0.45" [style.pointer-events]="hasTreeBeenModifiedFromOriginal ? 'auto' : 'none'"><i class="pi pi-refresh primary"></i></a>
    </span>
  </div>
  <div class="m-portlet__body" style="height: 100%;">
    <br />
    <div className="phylocanvas" id="phylocanvas" style="cursor: grab;"></div>
    <div id="phyloTooltip"></div>
  </div>
</div>
<div class="view-controls">

  @if (viewActive) {
    <p-dialog id="phylotree-settings-pane"
      [positionLeft]="PhylogeneticTreeDialogSettings.left"
      [positionTop]="PhylogeneticTreeDialogSettings.top"
      [(visible)]="PhylogeneticTreeDialogSettings.isVisible"
      [contentStyle]="{'overflow': 'visible', 'width': '450px'}"
      header="Phylogenetic Tree Settings" appendTo="body"
      >
      <tabset class="tab-container tabbable-line">
        <tab heading="{{'Tree' | localize}}" [active]="true" customClass="m-tabs__item">
          <p-accordion [multiple]='true' [value]="null">
            <p-accordion-panel value="tree-layout" style="color:#495057">
              <p-accordion-header>Layout</p-accordion-header>
              <p-accordion-content><div #treecontrolslabels>
                <div class="form-group row tree-type-row" title="What kind of tree should be displayed?" style="overflow:visible">
                  <div class="col-4"><label for="tree-layout">Layout</label></div>
                  <div class="col-8">
                    <p-select id="tree-layout" appendTo="body" [options]="TreeLayouts" class="width-percent-100" [(ngModel)]="SelectedTreeLayoutVariable" (ngModelChange)="onTreeLayoutChange($event)"> </p-select>
                  </div>
                </div>
              </div>
            </p-accordion-content>
          </p-accordion-panel>
          <p-accordion-panel value="tree-mode" style="color:#495057">
            <p-accordion-header>Mode</p-accordion-header>
            <p-accordion-content><div #treecontrolslabels>
              <div class="form-group row tree-type-row" title="What kind of tree should be displayed?" style="overflow:visible">
                <div class="col-4"><label for="tree-mode">Mode</label></div>
                <div class="col-8">
                  <p-select id="tree-mode" appendTo="body" [options]="TreeModes" class="width-percent-100" [(ngModel)]="SelectedTreeModeVariable" (ngModelChange)="onTreeModeChange($event)"> </p-select>
                </div>
              </div>
            </div>
          </p-accordion-content>
        </p-accordion-panel>
        <p-accordion-panel value="tree-type" style="color:#495057">
          <p-accordion-header>Type</p-accordion-header>
          <p-accordion-content><div #treecontrolslabels>
            <div class="form-group row tree-type-row" title="What kind of tree should be displayed?" style="overflow:visible">
              <div class="col-4"><label for="tree-type">Type</label></div>
              <div class="col-8">
                <p-select id="tree-type" appendTo="body" [options]="TreeTypes" class="width-percent-100" [(ngModel)]="SelectedTreeTypeVariable" (ngModelChange)="onTreeTypeChange($event)"> </p-select>
              </div>
            </div>
          </div>
        </p-accordion-content>
      </p-accordion-panel>
      <p-accordion-panel value="tree-stretch" style="color:#495057">
        <p-accordion-header>Stretch</p-accordion-header>
        <p-accordion-content><div #treecontrolslabels>
          <div class="form-group row tree-type-row" title="What kind of tree should be displayed?" style="overflow:visible">
            <div class="col-5"><label for="horizontal-stretch">Horizontal Stretch</label></div>
            <div class="col-7">
              <input type="range" class="custom-range" id="horizontal-stretch" min="0.2" step="0.2" max="8" [(ngModel)]="SelectedHorizontalStretchVariable" (change)="onHorizontalStretchChange($event)">
            </div>
            <div class="col-5"><label for="vertical-stretch">Vertical Stretch</label></div>
            <div class="col-7">
              <input type="range" class="custom-range" id="vertical-stretch" min="0.2" step="0.2" max="8" [(ngModel)]="SelectedVerticalStretchVariable" (change)="onVerticalStretchChange($event)">
            </div>
            
          </div>
        </div>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</tab>
<tab heading="{{'Leaves' | localize}}" customClass="m-tabs__item">
  <p-accordion [value]="null" [multiple]="true">
    <p-accordion-panel value="tree-leaflabels" style="color:#495057">
      <p-accordion-header>Labels and Tooltips</p-accordion-header>
      <p-accordion-content><div #leafcontrolslabels>
        <div class="form-group row leaf-label-visibility-row" title="Show leaf labels?">
          <div class="col-5">Show Leaf Labels</div>
          <div class="col-7">
            <p-selectButton id="leaf-label-visibility" [options]="hideShowOptions" [allowEmpty]="false" fluid [(ngModel)]="SelectedLeafLabelShowVariable" (ngModelChange)="onLeafLabelShowChange($event)"></p-selectButton>
          </div>
        </div>
        @if (SelectedLeafLabelShowVariable) {
          <div class="form-group row leaf-label-variable-row" title="What variable should be used as the leaf label?" style="overflow:visible">
            <div class="col-5"><label for="leaf-label-variable">Label Variable</label></div>
            <div class="col-7">
              <p-select id="leaf-label-variable" appendTo="body" [options]="LeafLabelFieldList" class="width-percent-100" [(ngModel)]="SelectedLeafLabelVariable" (ngModelChange)="onLeafLabelVariableChange($event)"> </p-select>
            </div>
          </div>
        }
        @if (SelectedLeafLabelShowVariable) {
          <div class="form-group row leaf-label-size-row" title="How big should leaf labels be?">
            <div class="col-5"><label for="leaf-label-size">Label Size</label></div>
            <div class="col-7"><input type="range" class="custom-range" id="leaf-label-size" min="6" step="1" max="28" [(ngModel)]="SelectedLeafLabelSizeVariable" (ngModelChange)="onLeafLabelSizeChange($event)"></div>
          </div>
        }
        <div class="form-group row leaf-tooltip-visibility-row" title="Show leaf tooltips?">
          <div class="col-5">Show Leaf Tooltips</div>
          <div class="col-7">
            <p-selectButton id="leaf-tooltip-visibility" [options]="hideShowOptions" [allowEmpty]="false" fluid [(ngModel)]="SelectedLeafTooltipShowVariable" (ngModelChange)="onLeafLabelTooltipShowChange($event)"></p-selectButton>
          </div>
        </div>
        @if (SelectedLeafTooltipShowVariable) {
          <div class="form-group row leaf-tooltip-variable-row" title="What variable should be used as the leaf tooltip?" style="overflow:visible">
            <div class="col-5"><label for="leaf-tooltip-variable">Tooltip Variable</label></div>
            <div class="col-7">
              <p-select id="leaf-tooltip-variable" appendTo="body" [options]="LeafLabelFieldList" class="width-percent-100" [(ngModel)]="SelectedLeafTooltipVariable" (ngModelChange)="onLeafTooltipVariableChange($event)"> </p-select>
            </div>
          </div>
        }
      </div>
    </p-accordion-content>
  </p-accordion-panel>
  <p-accordion-panel value="tree-leafsize" style="color:#495057">
    <p-accordion-header>Leaf Size and Shape</p-accordion-header>
    <p-accordion-content><div #leafcontrolslabels>
      <div class="form-group row " title="Show leaf nodes?">
        <div class="col-5">Show Leaf Nodes</div>
        <div class="col-7">
          <p-selectButton [options]="hideShowOptions" [allowEmpty]="false" fluid [(ngModel)]="SelectedLeafNodeShowVariable" (ngModelChange)="onLeafNodeShowChange($event)"></p-selectButton>
        </div>
      </div>
      @if (SelectedLeafNodeShowVariable) {
        <div class="form-group row" title="Use the global node shape settings for tree leaf nodes?">
          <div class="col-5"><label>Use Global Shapes</label></div>
          <div class="col-7">
            <p-selectButton [options]="enableDisableOptions" [allowEmpty]="false" fluid [(ngModel)]="SelectedLeafNodeUseGlobalShapesVariable" (ngModelChange)="onLeafNodeUseGlobalShapesChange($event)"></p-selectButton>
          </div>
        </div>
      }
      <!--<div class="form-group row leaf-shape-row" title="What shape should leaves be?">
      <div class="col-4"><label for="leaf-shape-variable">Leaf Shape</label></div>
      <p-select id="leaf-shape-variable" [options]="LeafShapes" appendTo="body" [(ngModel)]="SelectedLeafShapeVariable" (ngModelChange)="onLeafShapeVariableChange($event)"></p-select>
    </div>-->
    @if (SelectedLeafNodeShowVariable) {
      <div class="form-group row leaf-size-var-row" title="What variable should be used to size the nodes?">
        <div class="col-5"><label for="leaf-size-var">Leaf Size Variable</label></div>
        <div class="col-7">
          <p-select id="leaf-size-var" appendTo="body" [options]="LeafLabelFieldList" class="width-percent-100" [(ngModel)]="SelectedLeafNodeSizeVariable" (ngModelChange)="onLeafNodeSizeVariableChange($event)"> </p-select>
        </div>
      </div>
    }
    @if (SelectedLeafNodeSizeVariable=='None' && SelectedLeafNodeShowVariable) {
      <div class="form-group row leaf-size-row" title="How big should leaves be?">
        <div class="col-5"><label for="leaf-size">Leaf Size</label></div>
        <div class="col-7"><input type="range" class="custom-range" id="leaf-size" min="5" step="0.5" max="50" [(ngModel)]="SelectedLeafNodeSize" (ngModelChange)="onLeafNodeSizeChange($event)"></div>
      </div>
    }
    @if (SelectedLeafNodeSizeVariable!='None' && SelectedLeafNodeShowVariable) {
      <div class="form-group row " title="How big should leaves be?">
        <div class="col-5"><label>Min Leaf Size</label></div>
        <div class="col-7"><input type="range" class="custom-range" id="leaf-size-min" min="5" step="0.5" max="25" [(ngModel)]="minNodeWidth" (ngModelChange)="styleTree()"></div>
      </div>
    }
    @if (SelectedLeafNodeSizeVariable!='None' && SelectedLeafNodeShowVariable) {
      <div class="form-group row" title="How big should leaves be?">
        <div class="col-5"><label>Max Leaf Size</label></div>
        <div class="col-7"><input type="range" class="custom-range" id="leaf-size-max" min="10" step="0.5" max="50" [(ngModel)]="maxNodeWidth" (ngModelChange)="styleTree()"></div>
      </div>
    }
  </div>
</p-accordion-content>
</p-accordion-panel>
<p-accordion-panel value="tree-leafcolors" style="color:#495057">
  <p-accordion-header>Colors</p-accordion-header>
  <p-accordion-content><button pButton type="button" label="Show Colors" class="ui-button-raised" (click)="showGlobalSettings()" [style]="{'background-color': '#2196f3', 'border': '1px solid #2196f3'}"></button>
</p-accordion-content>
</p-accordion-panel>
</p-accordion>
</tab>
<tab heading="{{'Branches' | localize}}" customClass="m-tabs__item">
  <p-accordion [value]="null" [multiple]="true">
    <p-accordion-panel value="tree-branchlabels" style="color:#495057">
      <p-accordion-header>Branch Labels and Size</p-accordion-header>
      <p-accordion-content><div #branchcontrolslabels>
        <div class="form-group row branch-distance-visibility-row" title="Show distance labels?">
          <div class="col-5"><label for="branch-distance-visibility">Distance Labels</label></div>
          <div class="col-7">
            <p-selectButton id="branch-distance-visibility" [options]="hideShowOptions" [allowEmpty]="false" fluid [(ngModel)]="SelectedBranchDistanceShowVariable" (ngModelChange)="onBranchDistanceShowChange($event)"></p-selectButton>
          </div>
        </div>
        @if (SelectedBranchDistanceShowVariable) {
          <div class="form-group row link-size-row" title="How big should branch labels be?">
            <div class="col-5"><label for="link-size">Branch Label Size</label></div>
            <div class="col-7"><input type="range" class="custom-range" id="link-size" min="4" step="1" max="25" [(ngModel)]="SelectedBranchDistanceSizeVariable" (ngModelChange)="onBranchDistanceSizeChange($event)"></div>
          </div>
        }
      </div>
      <div class="form-group row link-size-row" title="How big should branches be?">
        <div class="col-5"><label for="branch-size">Branch Size</label></div>
        <div class="col-7"><input type="range" class="custom-range" id="branch-size" min="1" step="1" max="10" [(ngModel)]="SelectedBranchSizeVariable" (ngModelChange)="onBranchSizeChange($event)"></div>
      </div>
    </p-accordion-content>
  </p-accordion-panel>
  <p-accordion-panel value="tree-branchsize" style="color:#495057">
    <p-accordion-header>Branch Nodes</p-accordion-header>
    <p-accordion-content><div #branchcontrollables>
      <div class="form-group row branch-node-visibility-row" title="Show branch Nodes?">
        <div class="col-5"><label for="branch-node-visibility">Branch Nodes</label></div>
        <div class="col-7">
          <p-selectButton id="branch-node-visibility" [options]="hideShowOptions" [allowEmpty]="false" fluid [(ngModel)]="SelectedBranchNodeShowVariable" (ngModelChange)="onBranchNodeShowChange($event)"></p-selectButton>
        </div>
      </div>
      @if (SelectedBranchNodeShowVariable) {
        <div class="form-group row branch-node-size-row" title="How big should branch nodes be?">
          <div class="col-5"><label for="branch-node-size">Branch Node Size</label></div>
          <div class="col-7"><input type="range" class="custom-range" id="branch-node-size" min="1" step="0.5" max="10" [(ngModel)]="SelectedBranchNodeSizeVariable" (ngModelChange)="onBranchNodeSizeChange($event)"></div>
        </div>
      }
      @if (hasNewickFile) {
      <div class="form-group row" title="Show branch Nodes labels?">
        <div class="col-5"><label for="branch-node-visibility2">Branch Nodes Labels</label></div>
        <div class="col-7">
          <p-selectButton id="branch-node-visibility2" [options]="hideShowOptions" [allowEmpty]="false" fluid [(ngModel)]="SelectedBranchLabelShowVariable" (ngModelChange)="onBranchLabelShowChange($event)"></p-selectButton>
        </div>
      </div>
      }
      @if (SelectedBranchLabelShowVariable && hasNewickFile) {
        <div class="form-group row" title="How big should branch nodes labels be?">
          <div class="col-5"><label for="branch-node-size">Branch Node Label Size</label></div>
          <div class="col-7"><input type="range" class="custom-range" id="branch-node-size" min="1" step="0.5" max="16" [(ngModel)]="SelectedBranchLabelSizeVariable" (ngModelChange)="onBranchLabelSizeChange($event)"></div>
        </div>
      }
    </div>
  </p-accordion-content>
  </p-accordion-panel> 
</p-accordion>
</tab>
</tabset>
</p-dialog>
}
</div>
<div id="phylo-context-menu" class="dropdown-menu">
  <div id="reroot" class="dropdown-item">Set As Root</div>
  <div id="rotate" class="dropdown-item" title="Rotate by reversing the order of children of the current branch">Rotate</div>
  <div id="flip" class="dropdown-item" title="Flip by reversing the order of all of the decendants of the branch">Flip</div>
  <div id="view-subtree" class="dropdown-item" title="Show only this branch and its descendants">View Subtree</div>
</div>
@if (viewActive) {
  <p-dialog id="network-export-modal" [(visible)]="ShowPhylogeneticExportPane" header="Export Phylogenetic Tree" class="dialogSize" (onHide)="onCloseExport()" appendTo="body">
    <tabset class="tab-container tabbable-line">
      <tab heading="{{'Image' | localize}}" [active]="true" customClass="m-tabs__item">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body" style='min-width: 500px; height: 100%;'>
              <div class="form-group row">
                <div class="col-8">
                  <input type="text" id="tree-image-filename" class="form-control form-control-sm" placeholder="Image Filename" [(ngModel)]="SelectedTreeImageFilenameVariable" >
                </div>
                <div class="col-4">
                  <p-select id="network-export-filetype" appendTo="body" [options]="NetworkExportFileTypeList" [(ngModel)]="SelectedNetworkExportFileTypeListVariable" ></p-select>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="export-tree" class="btn btn-primary" (click)="saveImage($event)">Save Image</button>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="{{'Newick' | localize}}" customClass="m-tabs__item">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body" style='min-width: 500px; height: 100%;'>
              <div class="form-group row">
                <div class="col-8">
                  <input type="text" id="newick-string-filename" class="form-control form-control-sm" placeholder="Newick Filename" [(ngModel)]="SelectedNewickStringFilenameVariable" >
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="export-newick" class="btn btn-primary" (click)="saveNewickString($event)">Save Newick String</button>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </p-dialog>
  }<!-- /.modal -->
