

<span id="tooltip" style="background-color: white;"></span>

<div id="tool-btn-container" class="m-portlet">
  <span style="overflow: visible; position: relative; width: 110px;">
    <a title="Settings" data-testid="twod-settings-button" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openSettings()"><i class="flaticon-settings primary"></i></a>
  </span>
  <span style="overflow: visible; position: relative; width: 110px;">
    <a title="Export Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openExport()"><i class="flaticon-download primary"></i></a>
  </span>
  <span style="overflow: visible; position: relative; width: 110px;">
    <a title="Center Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openCenter()"><i class="flaticon-eye primary"></i></a>
  </span>
  <span style="overflow: visible; position: relative; width: 110px;">
    <a title="Pin All Nodes" data-testid="twod-pin-all-button" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="pinNodes()"
      [style.background]="commonService.session.network.allPinned ? 'lightblue': null"
      ><i class="flaticon-pin primary"></i></a>
    </span>
    <span style="overflow: visible; position: relative; width: 110px;">
      <a  title="Recalculate Layout. Disabled when nodes are pinned." data-testid="twod-recalculate-layout-button" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="updateLayout()"
        [ngClass]="commonService.session.network.allPinned ? 'disabled' : ''">
        <i class="flaticon-refresh primary"></i></a>
      </span>
    </div>

    <!-- <div #cy id="cy" style="width: 100%; height: 100%;"></div> -->

    <div #exportContainer class="cytoscape-container" style="position: relative;">
      <div #cy id="cy" style="width: 100%; height: 100%; position: relative;"></div>
      <div class="grid-overlay" [class.hidden]="!widgets['network-gridlines-show']"></div>

      <!-- Static Watermark (Optional) -->
      <div id="watermark" class="watermark"></div>
    </div>
    <div id="network-statistics-wrapper">
      <div id="network-statistics-draghandle"><span class="oi oi-move"></span></div>
      <table #networkStats id="network-statistics-table">
        <tr>
          <td class="text-right">
            <span id="numberOfNodes"></span>
            (<span id="numberOfSelectedNodes"></span>)
          </td>
          <td>Nodes (Selected)</td>
        </tr>
        <tr>
          <td id="numberOfVisibleLinks" class="text-right"></td>
          <td>Links</td>
        </tr>
        <tr>
          <td id="numberOfDisjointComponents" class="text-right"></td>
          <td>Clusters</td>
        </tr>
        <tr>
          <td id="numberOfSingletonNodes" class="text-right"></td>
          <td>Singletons</td>
        </tr>
        <tr>
          <td colspan="2">Link Threshold =
            <span id="currentLinkThreshold"></span></td>
          </tr>
        </table>
      </div>


      @if (IsDataAvailable == false) {
        <div class="m-content">
          <div id="file-panel" class="container-fluid" style="height:500px;">
            <div id="file-prompt" class="d-flex justify-content-center">
              <h1><b>Please add data files to load...</b></h1>
              <br />
            </div>
          </div>
        </div>
      }


      <div class="view-controls">
        @if (viewActive) {
          <p-dialog id="network-settings-pane" data-testid="twod-settings-dialog"
            [(visible)]="Node2DNetworkExportDialogSettings.isVisible"
            header="2D Network Settings" appendTo="body"
            >
            <tabset class="tab-container tabbable-line">
              <tab heading="{{'Nodes' | localize}}" [active]="true" customClass="m-tabs__item">
                <p-accordion [value]="null" [multiple]="true">
                  <p-accordion-panel value="node-labels" style="color:#495057">
                    <p-accordion-header>Labels and Tooltips</p-accordion-header>
                    <p-accordion-content>
                      <div #nodecontrolslabels>
                        <div class="form-group row" title="What field should be displayed as a label for the node?">
                          <div class="col-4"><label for="node-label-variable">Label</label></div>
                          <div class="col-8">
                            <p-select id="node-label-variable" [options]="FieldList" appendTo="body" class="width-percent-100" [(ngModel)]="SelectedNodeLabelVariable" (ngModelChange)="onNodeLabelVaribleChange($event)"></p-select>
                          </div>
                        </div>
                        <div class="form-group row node-label-row" title="How big should node labels be?">
                          <div class="col-4"><label for="node-label-size">Label Size</label></div>
                          <div class="col-8"><input type="range" class="custom-range" id="node-label-size" min="6" value="16" max="72" [(ngModel)]="SelectedNodeLabelSizeVariable" (change)="onNodeLabelSizeChange($event)"></div>
                        </div>
                        <div class="form-group row node-label-row" title="Where should the label appear relative to the node?">
                          <div class="col-4"><label for="node-label-orientation">Orientation</label></div>
                          <div class="col-8">
                            <p-select id="node-label-orientation" [options]="OrientationOptions" appendTo="body" class="width-percent-100" [(ngModel)]="SelectedNodeLabelOrientationVariable" (ngModelChange)="onNodeLabelOrientationChange($event)"></p-select>
                          </div>
                        </div>
                        <div class="form-group row" title="What node data should be displayed as a tooltip for the node?">
                          <div class="col-4">
                            <label for="node-tooltip-variable">Tooltip</label>
                          </div>
                          <div class="col-8">
                            <p-multiSelect [options]="commonService.session.data['nodeFields']" appendTo="body" [showToggleAll]=false [showHeader]=false class="width-percent-100"
                              [(ngModel)]="commonService.session.style.widgets['node-tooltip-variable']" (onChange)="onNodeTooltipVariableChange($event.value)"
                            ></p-multiSelect>
                          </div>
                        </div>
                      </div>
                    </p-accordion-content>
                  </p-accordion-panel>
                    <p-accordion-panel value="node-shapes" style="color:#495057">
                      <p-accordion-header>Shapes and Sizes</p-accordion-header>
                      <p-accordion-content><div #nodecontrolsshapes>
                      <div class="form-group row" title="Open the global styling settings to configure node shapes.">
                        <div class="col-4"><label for="open-global-shape-settings">Shape</label></div>
                        <div class="col-8">
                          <button
                            pButton
                            type="button"
                            id="open-global-shape-settings"
                            label="Show Shapes"
                            class="ui-button-raised width-percent-100"
                            (click)="showGlobalSettings($event)"
                            [style]="{'background-color': '#2196f3', 'border': '1px solid #2196f3'}">
                          </button>
                        </div>
                      </div>
                      <div class="form-group row" title="Which variable should determine the size of the node?">
                        <div class="col-4"><label for="node-radius-variable">Size By</label></div>
                        <div class="col-8">
                          <p-select id="node-radius-variable" [options]="FieldList" appendTo="body" class="width-percent-100" [(ngModel)]="SelectedNodeRadiusVariable" (ngModelChange)="onNodeRadiusVariableChange($event)"></p-select>
                        </div>
                      </div>
                      <div id="node-max-radius-row" class="form-group row" title="Should node max radius to this variable?">
                        <div class="col-4"><label for="node-radius-max">Max Size</label></div>
                        <div class="col-8">
                          <input type="range" class="custom-range" id="node-radius-max" min="20" value="85" step="1" max="100" [(ngModel)]="widgets['node-radius-max']" (ngModelChange)="onNodeRadiusMaxChange($event)">
                        </div>
                      </div>
                      <div id="node-min-radius-row" class="form-group row" title="Should node min radius to this variable?">
                        <div class="col-4"><label for="node-radius-min">Min Size</label></div>
                        <div class="col-8">
                          <input type="range" class="custom-range" id="node-radius-min" min="5" value="15" step="1" max="55" [(ngModel)]="widgets['node-radius-min']" (ngModelChange)="onNodeRadiusMinChange($event)">
                        </div>
                      </div>
                      <div id="node-radius-row" class="form-group row" title="How big should the nodes be?">
                        <div class="col-4"><label for="node-radius">Size</label></div>
                        <div class="col-8">
                          <input type="range" class="custom-range" id="node-radius" min="5" value="50" step="1" max="100" [(ngModel)]="SelectedNodeRadiusSizeVariable" (ngModelChange)="onNodeRadiusChange($event)">
                        </div>
                      </div>
                      <div class="form-group row" title="What should the width of the node border be?">
                        <div class="col-4"><label for="node-radius-variable">Border Width</label></div>
                        <div class="col-8">
                          <input type="number" class="form-control form-control-sm" id="node-border-width" min="0" step="0.1" value="2" [(ngModel)]="nodeBorderWidth" (ngModelChange)="onNodeBorderWidthChange($event)">
                        </div>
                      </div>
                  </div>
                </p-accordion-content>
              </p-accordion-panel>
              <p-accordion-panel value="node-collapse" style="color:#495057">
                <p-accordion-header>Collapse Related Nodes</p-accordion-header>
                <p-accordion-content>
                  <div class="form-group row" title="Collapse visible nodes connected by distance links at or below the selected distance.">
                    <div class="col-4"><label for="network-node-collapse-enabled">Collapse</label></div>
                    <div class="col-8">
                      <p-selectButton id="network-node-collapse-enabled" [options]="hideShowOptions" [allowEmpty]="false" fluid [ngModel]="SelectedNodeCollapseTypeVariable" (onChange)="onNodeCollapseEnabledChange($event.value, true)"></p-selectButton>
                    </div>
                  </div>
                  <div class="form-group row" title="Maximum genetic distance for nodes to collapse into aggregate pie nodes, limited by the current Filtering Threshold. When grouping is shown, nodes only collapse with other nodes in the same group.">
                    <div class="col-4"><label for="network-node-collapse-threshold-input">Distance ({{ SelectedNodeCollapseMetricLabel }})</label></div>
                    <div class="col-8">
                      <input type="number" class="form-control form-control-sm" id="network-node-collapse-threshold-input" [min]="NodeCollapseThresholdMinDisplayed" [max]="NodeCollapseThresholdMaxDisplayed" [step]="NodeCollapseThresholdStepDisplayed" [disabled]="commonService.session.style.widgets['network-node-collapse-enabled'] !== true" [(ngModel)]="SelectedNodeCollapseThresholdDisplayedVariable" (ngModelChange)="onNodeCollapseThresholdDisplayedChange($event, false)" (keydown.arrowup)="onNodeCollapseThresholdKeydown($event, 1)" (keydown.arrowdown)="onNodeCollapseThresholdKeydown($event, -1)" (blur)="onNodeCollapseThresholdInputBlur()">
                    </div>
                  </div>
                </p-accordion-content>
              </p-accordion-panel>
              <p-accordion-panel value="node-colors" style="color:#495057">
                <p-accordion-header>Colors</p-accordion-header>
                <p-accordion-content><button pButton type="button" label="Show Colors" class="ui-button-raised" (click)="showGlobalSettings($event)" [style]="{'background-color': '#2196f3', 'border': '1px solid #2196f3'}"></button>
                </p-accordion-content>
              </p-accordion-panel>
            </p-accordion>
          </tab>
          <tab heading="{{'Links' | localize}}" customClass="m-tabs__item">
            <p-accordion [value]="null" [multiple]="true">
              <p-accordion-panel value="link-labels" style="color:#495057">
                <p-accordion-header>Labels and Tooltips</p-accordion-header>
                <p-accordion-content><div #linkcontrolslabels>
                  <div class="form-group row" title="What data should be displayed when you hover over a link?">
                    <div class="col-4"><label for="link-tooltip-variable">Tooltip</label></div>
                    <div class="col-8">
                      <p-multiSelect [options]="LinkToolTipList" appendTo="body" [showToggleAll]=false [showHeader]=false class="width-percent-100"
                        [(ngModel)]="commonService.session.style.widgets['link-tooltip-variable']" (onChange)="onLinkTooltipVariableChange($event.value)"
                      ></p-multiSelect>
                      <!--mat-select multiple [(value)]="commonService.session.style.widgets['link-tooltip-variable']" (valueChange)="onLinkTooltipVariableChange($event)">
                      <mat-option *ngFor="let option of LinkToolTipList" [value]="option.value">
                        {{option.label}}
                      </mat-option>
                    </mat-select-->
                  </div>
                </div>
                <div class="form-group row" title="What data should be displayed when you hover over a link?">
                  <div class="col-4"><label for="link-label-variable">Label</label></div>
                  <div class="col-8">
                    <p-select id="link-label-variable" [options]="ToolTipFieldList" appendTo="body" class="width-percent-100" [(ngModel)]="SelectedLinkLabelVariable" (ngModelChange)="onLinkLabelVariableChange($event)"></p-select>
                  </div>
                </div>
                <div class="form-group row" title="How large should link labels be?">
                  <div class="col-4"><label for="link-label-size">Label Size</label></div>
                  <div class="col-8"><input type="range" class="custom-range" id="link-label-size" min="6" max="72" [(ngModel)]="widgets['link-label-size']" (change)="onLinkLabelSizeChange($event)"></div>
                </div>
                <div class="form-group row" title="How many decimals should the number labels have?">
                  <div class="col-4"><label for="link-label-decimal-length">Decimal Length</label></div>
                  <div class="col-8"><input type="number" class="form-control form-control-sm" id="link-label-decimal-length" min="0" step="1" max="6" value="3"  [(ngModel)]="SelectedLinkDecimalVariable"  (ngModelChange)="onLinkDecimalVariableChange($event)">
                  </div>
                </div>
              </div>
            </p-accordion-content>
          </p-accordion-panel>
          <p-accordion-panel value="link-shapes" style="color:#495057">
            <p-accordion-header>Shapes and Sizes</p-accordion-header>
            <p-accordion-content><div #linkcontrolsshapes>
              <div id="link-transparency-row" class="form-group row" title="How transparent should the links be?">
                <div class="col-4"><label for="link-opacity">Transparency</label></div>
                <div class="col-8"><input type="range" class="custom-range" id="link-opacity" min="0" max="1" value="0" step="0.01" [(ngModel)]="SelectedLinkTransparencyVariable" (ngModelChange)="onLinkOpacityChange($event)"></div>
              </div>
              <div class="form-group row" title="Which variable should determine the width of a link?">
                <div class="col-4"><label for="link-width-variable">Width By</label></div>
                <div class="col-8">
                  <p-select id="link-width-variable" [options]="ToolTipFieldList" appendTo="body" class="width-percent-100" [(ngModel)]="SelectedLinkWidthByVariable" (ngModelChange)="onLinkWidthVariableChange($event)"></p-select>
                </div>
              </div>
              <div id="link-max-width-row" class="form-group row display-none" title="Should link max widths to this variable?">
                <div class="col-4"><label for="link-width-max">Max Width</label></div>
                <div class="col-8"><input type="range" class="custom-range" id="link-width-max" min="0.3" max="30" step=".3" [(ngModel)]="SelectedLinkWidthMax" (ngModelChange)="onLinkWidthMaxChange($event)"></div>
              </div>
              <div id="link-min-width-row" class="form-group row display-none" title="Should link min widths to this variable?">
                <div class="col-4"><label for="link-width-min">Min Width</label></div>
                <div class="col-8"><input type="range" class="custom-range" id="link-width-min" min="0.3" max="20" step=".3" [(ngModel)]="SelectedLinkWidthMin" (ngModelChange)="onLinkWidthMinChange($event)"></div>
              </div>
              <div id="link-reciprocalthickness-row" class="form-group row display-none" title="Should link widths be proportioned to the reciprocal of this variable?">
                <div class="col-4">Reciprocal</div>
                <div class="col-8">
                  <p-selectButton id="link-width-reciprocal-non-reciprocal" appendTo="body" [options]="ReciprocalTypes" [allowEmpty]="false" fluid [(ngModel)]="SelectedLinkReciprocalTypeVariable" (ngModelChange)="onLinkWidthReciprocalNonReciprocalChange($event)"></p-selectButton>
                </div>
              </div>
              <div class="form-group row" id="link-width-row" title="How thick should the links be?">
                <div class="col-4"><label for="link-width">Width</label></div>
                <div class="col-8"><input type="range" class="custom-range" id="link-width" min="0.3" max="30" step=".3" [(ngModel)]="SelectedLinkWidthVariable" (ngModelChange)="onLinkWidthChange($event)"></div>
              </div>
              <div class="form-group row" title="How long should links be? Disabled when nodes are pinned.">
                <div class="col-4"><label for="link-length">Length</label></div>
                <div class="col-8"><input type="range" class="custom-range" id="link-length" min="20" max="170" value="50" [disabled]="commonService.session.network.allPinned" [(ngModel)]="SelectedLinkLengthVariable" (change)="onLinkLengthChange($event)"></div>
              </div>
              <div class="form-group row hideForHIVTrace" title="Shoul arrowheads pointing to the">
                <div class="col-4">Arrows</div>
                <div class="col-8">
                  <p-selectButton id="link-directed-undirected" [options]="ArrowTypes" [allowEmpty]="false" fluid [(ngModel)]="SelectedLinkArrowTypeVariable" (ngModelChange)="onLinkDirectedUndirectedChange($event)"></p-selectButton>
                </div>
              </div>
              <div id="link-bidirectional-row" class="form-group row display-none" title="Should links be bidirectional?">
                <div class="col-4">Bidirectional</div>
                <div class="col-8">
                  <p-selectButton id="link-bidirectional" [options]="hideShowOptionsString" [allowEmpty]="false" fluid [(ngModel)]="SelectedLinkBidirectionalTypeVariable" (ngModelChange)="onLinkBidirectionalChange($event)"></p-selectButton>
                </div>
              </div>
            </div>
          </p-accordion-content>
        </p-accordion-panel>
        <p-accordion-panel value="link-colors" style="color:#495057">
          <p-accordion-header>Colors</p-accordion-header>
          <p-accordion-content><button pButton type="button" label="Show Colors" class="ui-button-raised" (click)="showGlobalSettings($event)" [style]="{'background-color': '#2196f3', 'border': '1px solid #2196f3'}"></button>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>
  </tab>
  <tab heading="{{'Network' | localize}}" customClass="m-tabs__item">
    <p-accordion [value]="null" [multiple]="true">
      <p-accordion-panel value="network-display" style="color:#495057">
        <p-accordion-header>Display</p-accordion-header>
        <p-accordion-content><div #networkcontrolslabels>
          <div class="form-group row" title="Should MicrobeTrace Highlight a node's neighbors when you hover on it?">
            <div class="col-3">Neighbors</div>
            <div class="col-9">
              <p-selectButton id="dont-highlight-neighbors-highlight-neighbors" [options]="NeighborTypes" [allowEmpty]="false" fluid [(ngModel)]="SelectedNetworkNeighborTypeVariable" (ngModelChange)="onDontHighlightNeighborsHighlightNeighborsChange($event)"></p-selectButton>
            </div>
          </div>
          <div class="form-group row" title="Should MicrobeTrace Highlight a node's neighbors when you hover on it?">
            <div class="col-3">Gridlines</div>
            <div class="col-9">
              <p-selectButton id="network-gridlines-show-hide" [options]="hideShowOptionsString" [allowEmpty]="false" fluid [(ngModel)]="SelectedNetworkGridLineTypeVariable" (ngModelChange)="onNetworkGridlinesShowHideChange($event)"></p-selectButton>
            </div>
          </div>
        </div>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</tab>
<tab heading="{{'Grouping' | localize}}" customClass="m-tabs__item">
  <p-accordion [value]="null" [multiple]="true">
    <p-accordion-panel value="grouping-controls" style="color:#495057">
      <p-accordion-header>Controls</p-accordion-header>
      <p-accordion-content><div id="polygons-controls">
        <div class="card-body">
          <div class="form-group row" title="Show groups?">
            <div class="col-4">Groups</div>
            <div class="col-8">
              <p-selectButton id="polygons-show-toggle" [options]="hideShowOptions" [allowEmpty]="false" fluid
                [(ngModel)]="commonService.session.style.widgets['polygons-show']"
                (ngModelChange)="polygonsToggle($event)">
              </p-selectButton>
            </div>
          </div>
          @if (commonService.session.style.widgets['polygons-show']) {
            <div class="form-group row polygons-settings-row" title="What node variable to group by?">
              <div class="col-4"><label for="polygons-foci">Group By</label></div>
              <div class="col-8">
                <p-select id="polygons-foci" [options]="FieldList" appendTo="body" class="width-percent-100" [(ngModel)]="commonService.session.style.widgets['polygons-foci']" (ngModelChange)="centerPolygons($event)"></p-select>
              </div>
            </div>
          }
          <div class="form-group row" title="Reapply forces to shrink groups and separate them from others. May lead to a better layout. Disabled when nodes are pinned.">
            <button pButton type="button" label="Recalculate Layout" class="ui-button-raised" [disabled]="commonService.session.network.allPinned" (click)="updateLayout()" [style]="{'background-color': '#2196f3', 'border': '1px solid #2196f3'}"></button>
          </div>
        </div>
      </div>
    </p-accordion-content>
  </p-accordion-panel>
  @if (commonService.session.style.widgets['polygons-show']) {
    <p-accordion-panel value="grouping-labels" style="color:#495057">
      <p-accordion-header>Labels</p-accordion-header>
      <p-accordion-content><div id="polygons-controls-labels">
        <div class="card-body">
          <div class="form-group row" title="Show group labels?">
            <div class="col-5 padding-right-5">Groups Label</div>
            <div class="col-7">
              <p-selectButton id="polygons-label-visibility" [options]="hideShowOptions" [allowEmpty]="false" fluid [(ngModel)]="commonService.session.style.widgets['polygons-label-show']" (ngModelChange)="onPolygonLabelShowChange($event)"></p-selectButton>
            </div>
          </div>
          @if (commonService.session.style.widgets['polygons-label-show']) {
            <div class="form-group row polygons-label-row" title="How big should group labels be?">
              <div class="col-5"><label for="polygons-label-size">Label Size</label></div>
              <div class="col-7">
                <input type="range" class="custom-range" id="polygons-label-size" min="6" value="16" step="1" max="128" [(ngModel)]="commonService.session.style.widgets['polygons-label-size']" (ngModelChange)="onPolygonLabelSizeChange($event)">
              </div>
            </div>
          }
          @if (commonService.session.style.widgets['polygons-label-show']) {
            <div class="form-group row polygons-label-row" title="How should the labels be oriented relative to center of group?">
              <div class="col-5"><label for="polygon-label-orientation">Orientation</label></div>
              <div class="col-7">
                <p-select id="polygon-label-orientation" [options]="OrientationOptions" appendTo="body" class="width-percent-100" [(ngModel)]="SelectedPolygonLabelOrientationVariable" (ngModelChange)="onPolygonLabelOrientationChange($event)"></p-select>
              </div>
            </div>
          }
        </div>
      </div>
    </p-accordion-content>
  </p-accordion-panel>
}
<!-- style="display: none;" -->
@if (commonService.session.style.widgets['polygons-show']) {
  <p-accordion-panel value="grouping-colors" style="color:#495057">
    <p-accordion-header>Colors</p-accordion-header>
    <p-accordion-content><div id="polygons-controls-colors">
      <div class="card-body">
        <div id="color-polygons" class="form-group row" title="Distinguish groups by color?">
          <div class="col-5">Color Groups</div>
          <div class="col-7">
            <p-selectButton id="colorPolygons" [options]="hideShowOptions" [allowEmpty]="false" fluid [(ngModel)]="commonService.session.style.widgets['polygons-color-show']" (ngModelChange)="polygonColorsToggle($event)"></p-selectButton>
          </div>
        </div>
        @if (commonService.session.style.widgets['polygons-color-show']) {
          <div id="polygon-color-table-row" class="form-group row" title="Should MicrobeTrace display the table of colors?">
            <div class="col-5">Group Color Table</div>
            <div class="col-7">
              <p-selectButton id="polygon-color-table-toggle" [options]="polygonColorTableOptions" [allowEmpty]="false" fluid
                [(ngModel)]="commonService.session.style.widgets['polygon-color-table-visible']"
                (ngModelChange)="polygonColorsTableToggle($event)">
              </p-selectButton>                                </div>
            </div>
          }
          @if (!commonService.session.style.widgets['polygons-color-show']) {
            <div id="polygon-color-value-row" class="form-group row" title="What color should the groups be?">
              <div class="col-5"><label for="polygon-color">Group Color</label></div>
              <div class="col-7">
                <input type="color" id="polygon-color" class="form-control form-control-sm" value="#1f77b4" [(ngModel)]="commonService.session.style.widgets['polygon-color']" (ngModelChange)="onPolygonColorChanged($event)">
              </div>
            </div>
          }
        </div>
      </div>
    </p-accordion-content>
  </p-accordion-panel>
}
</p-accordion>
</tab>
</tabset>
</p-dialog>
}



</div>

@if (!isPolygonColorTableDocked && viewActive) {
  <p-dialog id="polygon-color-table-wrapper"
    [positionLeft]="PolygonColorTableWrapperDialogSettings.left"
    [positionTop]="PolygonColorTableWrapperDialogSettings.top"
    [(visible)]="PolygonColorTableWrapperDialogSettings.isVisible"
    [style]="{width: '45vw', maxWidth: '500px'}"
    appendTo="body"
    (onHide)="onPolygonColorTableDialogHide()"
    >
    <ng-template pTemplate="header">
      <div style="display: flex; justify-content: space-between; width: 100%;">
        <span>Group Color Table</span>
        <span style="overflow: visible; position: relative;">
          <button title="Settings" class="btn btn-sm btn-clean btn-icon-md" style="float:left" (click)="toggleColorTableSettings('polygon-color')"><i class="pi pi-cog"></i></button>
          <button
            type="button"
            class="btn btn-sm btn-clean btn-icon-md"
            style="float:left"
            [title]="getPolygonColorTableDockButtonTitle()"
            (click)="togglePolygonColorTableDocking($event)">
            <i class="pi pi-window-minimize"></i>
          </button>
          <div id="polygonColorTableSettings" class="dropdown-menu" style="display: none;" (mouseleave)="closeSettingsPane('polygonColorTableSettings')">
            <button id="polygonColorCounts" class="dropdown-item" (click)="toggleTableColumns('polygon-color', 'tableCounts')">
              <span>Show Counts</span>
              <i [className]="this.widgets['polygon-color-table-counts'] ? 'pi pi-check' : 'pi pi-times'" style="line-height: 1.5"></i>
            </button>
            <button id="polygonColorFrequencies" class="dropdown-item" (click)="toggleTableColumns('polygon-color', 'tableFreq')">
              <span>Show Frequencies</span>
              <i [className]="this.widgets['polygon-color-table-frequencies'] ? 'pi pi-check' : 'pi pi-times'" style="line-height: 1.5"></i>
            </button>
          </div>
        </span>
      </div>
    </ng-template>
    <div class="col-12" style="width:100%;max-height:50vh;" title="Group Color Selection.">
      <style-key-table
        tableId="polygon-color-table"
        tableKey="polygon-color"
        controlType="color"
        controlHeader="Color"
        [valueHeader]="polygonColorTableHeaders.value"
        [countHeader]="polygonColorTableHeaders.count"
        [frequencyHeader]="polygonColorTableHeaders.frequency"
        [showCounts]="this.widgets['polygon-color-table-counts']"
        [showFrequencies]="this.widgets['polygon-color-table-frequencies']"
        [rows]="polygonColorRows"
        (columnNameChange)="onPolygonKeyTableColumnNameChange($event)"
        (rowNameChange)="onPolygonColorRowNameChange($event)"
        (sortChange)="onPolygonColorSort($event)"
        (colorChange)="onPolygonColorTableColorChange($event)"
        (alphaRequest)="onPolygonColorAlphaRequested($event)">
      </style-key-table>
    </div>
  </p-dialog>
}

<!-- <p-dialog id="polygon-color-table-wrapper" class="floater">
<div id="polygon-color-table-draghandle"><span class="oi oi-move"></span></div>
<table id="polygon-color-table"></table>
</p-dialog> -->





<div id="polygon-color-table-context" class="dropdown-menu">
  <a href="#" id="polygon-color-table-drag" class="dropdown-item">Drag/Arrow Keys</a>
  <a href="#" id="polygon-color-table-context-hide" class="dropdown-item">Hide</a>
  <a href="#" id="polygon-color-table-expand" class="dropdown-item">Expand</a>
  <a href="#" id="polygon-color-table-counts" class="dropdown-item">Toggle Counts</a>
  <a href="#" id="polygon-color-table-frequencies" class="dropdown-item">Toggle Frequencies</a>
</div>

<div id="context-menu" class="dropdown-menu" style="display: none; opacity: 0; z-index: -1;">
  <button type="button" id="copyID" class="dropdown-item" (click)="copyID()">Copy ID</button>
  <button type="button" id="copySeq" class="dropdown-item" (click)="copySeq()" disabled>Copy Sequence</button>
  <button type="button" id="viewAttributes" class="dropdown-item" (click)="viewSelectedNodeAttributes()">View Attributes</button>
</div>


<p-dialog id="network-attribute-table-wrapper" [(visible)]="ShowNetworkAttributes" header="Node Attributes" [style]="{'width': '40vw', 'max-height': '60vw'}" >
  <div class="col-12" style="width:100%;">
    <table id="network-attribute-table" style="width:100%">
      @for (item of ContextSelectedNodeAttributes; track item) {
        <tr>
          <td>
            <strong>
              {{item.attribute}}
            </strong>
          </td>
          <td>{{item.value}}</td>
        </tr>
      }
    </table>
  </div>
</p-dialog>



@if (viewActive) {
  <p-dialog
    id="network-export-modal"
    [(visible)]="Show2DExportPane"
    header="Export Network Image"
    class="dialogSize"
    (onHide)="onCloseExport()"
    appendTo="body"
    >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body" style="min-width: 400px; height: 100%;">
          <div class="export-scope-label">
            {{ commonService.isNetworkSubsetFilterActive() ? 'Export scope: filtered visible network (' + commonService.getNetworkSubsetFilterLabel() + ')' : 'Export scope: full visible network' }}
          </div>
          <div class="form-group row">
            <div class="col-8">
              <input
                type="text"
                id="network-export-filename"
                class="form-control form-control-sm"
                placeholder="Filename"
                [(ngModel)]="SelectedNetworkExportFilenameVariable"
                (ngModelChange)="onDataChange($event)"
                />
              </div>
              <div class="col-4">
                <p-select
                  id="network-export-filetype"
                  [options]="NetworkExportFileTypeList"
                  [(ngModel)]="SelectedNetworkExportFileTypeListVariable"
                  (ngModelChange)="onNetworkExportFiletypeChange($event)"
                ></p-select>
              </div>
            </div>
            <div>
              <!-- Toggle Advanced Export Options -->
              <div [hidden]="SelectedNetworkExportFileTypeListVariable=='svg'">
                <p-accordion [value]="null" [multiple]="true">
                  <p-accordion-panel value="export-advanced" style="color:#495057">
                    <p-accordion-header>Advanced</p-accordion-header>
                    <p-accordion-content><div id="network-export-advanced">
                      <div class="form-group row">
                        <div class="col-3">
                          <label for="network-export-scale">Scale</label>
                        </div>
                        <div class="col-9">
                          <input
                            type="number"
                            id="network-export-scale"
                            class="form-control form-control-sm"
                            min="0"
                            max="2"
                            step="0.1"
                            [(ngModel)]="SelectedNetworkExportScaleVariable"
                            (ngModelChange)="updateCalculatedResolution()"
                            />
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-3">Resolution</div>
                          <div id="network-export-dimensions" class="col-9 text-right">
                            {{ CalculatedResolution }}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-3">
                            <label for="network-export-quality">Quality</label>
                          </div>
                          <div class="col-9">
                            <input
                              type="range"
                              class="custom-range"
                              id="network-export-quality"
                              min="0"
                              max="1.0"
                              step="0.01"
                              [(ngModel)]="SelectedNetworkExportQualityVariable"
                              />
                              <span>{{ SelectedNetworkExportQualityVariable }}</span>
                            </div>
                          </div>
                        </div>
                      </p-accordion-content>
                    </p-accordion-panel>
                  </p-accordion>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-error"
                (click)="Show2DExportPane = false"
                >
                Cancel
              </button>
              <button
                type="button"
                id="network-export"
                class="btn btn-primary"
                (click)="exportVisualization($event)"
                >
                Export
              </button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </p-dialog>
    }
