<div id="waterfall-view" class="waterfall-wrapper">

  <div class="row">
    <div id="waterfall-cluster-table-container" class="primeng-datatable-container col-4" >
      @if (IsDataAvailable == true && clusterTableData) {
        <p-table #clusterTable
          [value]="clusterTableData"
          dataKey="id"
          [expandedRowKeys]="clusterExpandedRowKeys"
          rowExpandMode="single"
          (onRowSelect)="onClusterRowSelect($event)"
          (onRowUnselect)="onClusterRowUnselect()"
          selectionMode="single"
          [(selection)]="selectedClusterRow"
          [scrollable]="true"
          [scrollHeight]="scrollHeight"
          [tableStyle]="{'border': '3px #e9ecef solid', 'overflow-x': 'visible'}">
          <ng-template #header>
            <tr style="background-color: #d8dadd; font-size: 22px;">
              <th>Cluster</th>
              <th style="text-align: end;">Nodes</th>
            </tr>
          </ng-template>
          <ng-template #body let-datarow>
            <tr class="ui-selectable-row" [pSelectableRow]="datarow">
              <td>{{datarow.id}}</td>
              <td style="text-align: end">{{datarow.nodeCount}}</td>
            </tr>
          </ng-template>
          <ng-template #expandedrow>
            <tr><td colspan="2" class="rowExpansionContent" data-testid="waterfall-cluster-expansion">
              @for (data of expandedClusterRowData; track data) {
                <div [style.width.px]="clusterTableWidth">{{data.key}}: {{data.value}}</div>
              }
            </td></tr>
          </ng-template>
        </p-table>
      }
    </div>

    <div id="waterfall-node-table-container" class="primeng-datatable-container col-4">
      @if (IsDataAvailable == true && nodeTableData) {
        <p-table #nodeTable
          [value]="nodeTableData"
          dataKey="id"
          [expandedRowKeys]="nodeExpandedRowKeys"
          rowExpandMode="single"
          (onRowSelect)="onNodeRowSelect($event)"
          (onRowUnselect)="onNodeRowUnselect()"
          selectionMode="single"
          [(selection)]="selectedNodeRow"
          [scrollable]="true"
          [scrollHeight]="scrollHeight"
          [tableStyle]="{'border': '3px #e9ecef solid', 'overflow-x': 'visible'}">
          <ng-template #header>
            <tr style="background-color: #d8dadd; font-size: 22px;">
              <th>Nodes</th>
              <th style="text-align: end;">Degree</th>
            </tr>
          </ng-template>
          <ng-template #body let-datarow>
            <tr class="ui-selectable-row" [pSelectableRow]="datarow">
              <td>{{datarow.id}}</td>
              <td style="text-align: end">{{datarow.degree}}</td>
            </tr>
          </ng-template>
          <ng-template #expandedrow>
            @if (selectedNodeRow) {
              <tr><td colspan="2" class="rowExpansionContent" data-testid="waterfall-node-expansion">
                @for (data of expandedNodeRowData; track data) {
                  <div [style.width.px]="nodeTableWidth">{{data.key}}: {{data.value}}</div>
                }
              </td></tr>
            }
          </ng-template>
        </p-table>
      }
    </div>

    <div id="waterfall-link-table-container" class="primeng-datatable-container col-4">
      @if (IsDataAvailable == true && linkTableData) {
        <p-table #linkTable
          [value]="linkTableData"
          dataKey="index"
          [expandedRowKeys]="linkExpandedRowKeys"
          rowExpandMode="single"
          (onRowSelect)="onLinkRowSelect($event)"
          (onRowUnselect)="onLinkRowUnselect()"
          selectionMode="single"
          [(selection)]="selectedLinkRow"
          [scrollable]="true"
          [scrollHeight]="scrollHeight"
          [tableStyle]="{'border': '3px #e9ecef solid', 'overflow-x': 'visible'}">
          <ng-template #header>
            <tr style="background-color: #d8dadd; font-size: 22px;">
              <th>Links</th>
              <th style="text-align: end;">Distance</th>
            </tr>
          </ng-template>
          <ng-template #body let-datarow>
            <tr class="ui-selectable-row" [pSelectableRow]="datarow">
              <td>{{datarow.id}}</td>
              <td style="text-align: end">{{formatLinkTableDistance(datarow.distance)}}</td>
            </tr>
          </ng-template>
          <ng-template #expandedrow let-datarow>
            @if (selectedLinkRow) {
              <tr><td colspan="2" class="rowExpansionContent" data-testid="waterfall-link-expansion">
                @for (data of expandedLinkRowData; track data) {
                  <div [style.width.px]="linkTableWidth">{{data.key}}: {{data.value}}</div>
                }
              </td></tr>
            }
          </ng-template>
        </p-table>
      }
    </div>
  </div>

  @if (IsDataAvailable == false) {
    <div id="waterfall-empty-state" class="m-content">
      <div id="file-panel" class="container-fluid" style="height:500px;">
        <div id="file-prompt" class="d-flex justify-content-center">
          <h1><b>Please add data files to load...</b></h1>
          <br />
        </div>
      </div>
    </div>
  }

</div>
