<div class="network-statistics-wrapper" data-testid="network-statistics-view">
  <div id="network-statistics-tool-btn-container" class="m-portlet">
    <span class="network-statistics-toolbar-icons">
      <span class="tool-btn">
        <a title="Settings" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openSettings()">
          <i class="flaticon-settings primary"></i>
        </a>
      </span>
      <span class="tool-btn">
        <a
          title="Export Network Statistics"
          class="btn btn-sm btn-clean btn-icon btn-icon-md"
          style="float:left"
          data-testid="network-statistics-export"
          (click)="openExport()">
          <i class="flaticon-download primary"></i>
        </a>
      </span>
    </span>

    <span class="network-statistics-toolbar-label">Table:</span>
    <span class="network-statistics-section-select">
      <p-select
        #dataSet
        data-testid="network-statistics-section-select"
        [options]="dataSetView"
        [(ngModel)]="dataSetViewSelected"
        (onChange)="openSelectDataSetScreen($event)"
        [style]="{'width': '130px'}">
      </p-select>
    </span>

    <span class="network-statistics-column-picker">
      @if (SelectedTableData) {
        <p-multiSelect
          data-testid="network-statistics-column-picker"
          [options]="SelectedTableData.availableColumns"
          [(ngModel)]="SelectedTableData.tableColumns"
          [showToggleAll]="false"
          (onChange)="onColumnsChange()"
          [style]="{'max-width': '100%'}">
        </p-multiSelect>
      }
    </span>

    @if (networkStatisticsApproximationLabel) {
      <span class="network-statistics-approximation" data-testid="network-statistics-approximation">
        {{ networkStatisticsApproximationLabel }}
      </span>
    }
  </div>

  @if (networkStatisticsLoading) {
    <div class="network-statistics-state" data-testid="network-statistics-loading">Calculating...</div>
  }
  @if (networkStatisticsError) {
    <div class="network-statistics-state network-statistics-error" data-testid="network-statistics-error">
      {{ networkStatisticsError }}
    </div>
  }

  @if (IsDataAvailable == true && SelectedTableData) {
    <div class="row align-items-center network-statistics-table-row">
      <div class="primeng-datatable-container" data-testid="network-statistics-table-shell">
        <p-table
          #dt
          [value]="SelectedTableData.data"
          [rowHover]="true"
          [rows]="selectedRows"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10,25,50,75,100, { showAll: 'All' }]"
          [loading]="networkStatisticsLoading"
          [paginator]="true"
          (onPage)="onPage($event)"
          [filterDelay]="1000"
          [scrollable]="true"
          [scrollHeight]="scrollHeight"
          [tableStyle]="tableStyle"
          [styleClass]="selectedSize"
          ScrollWidth="100%"
          [resizableColumns]="true"
          columnResizeMode="expand"
          [columns]="SelectedTableData.tableColumns"
          [reorderableColumns]="true">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              @for (col of SelectedTableData.tableColumns; track col) {
                <col>
              }
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              @for (col of SelectedTableData.tableColumns; track col) {
                <th
                  class="network-statistics-column-header"
                  [style.min-width.px]="columnMinWidth"
                  pSortableColumn="{{col.field}}"
                  pReorderableColumn>
                  {{ col.header }}<p-sortIcon field="{{col.field}}"></p-sortIcon>
                </th>
              }
            </tr>
            <tr>
              @for (col of SelectedTableData.tableColumns; track col) {
                <th class="network-statistics-filter-header" [style.min-width.px]="columnMinWidth">
                  <div class="wrapper">
                    <select class="filterType" [(ngModel)]="col.filterType" (change)="onTableFilter(col)">
                      @for (filterType of filterTypes; track filterType) {
                        <option [ngValue]="filterType.value">{{ filterType.label }}</option>
                      }
                    </select>
                    <input
                      class="item p-column-filter"
                      pInputText
                      type="text"
                      (input)="onTableFilter(col)"
                      [(ngModel)]="col.filterValue"
                      style="width:100%;">
                  </div>
                </th>
              }
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-datarow>
            <tr class="ui-selectable-row">
              @for (col of SelectedTableData.tableColumns; track col) {
                <td class="network-statistics-cell" [style.min-width.px]="columnMinWidth">
                  {{ formatCellValue(col.field, datarow[col.field]) }}
                </td>
              }
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="SelectedTableData.tableColumns.length || 1">No network statistics rows.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  }

  @if (IsDataAvailable == false) {
    <div class="m-content">
      <div id="file-panel" class="container-fluid" style="height:500px;">
        <div id="file-prompt" class="d-flex justify-content-center">
          <h1><b>Please add data files to load...</b></h1>
          <br />
        </div>
      </div>
    </div>
  }

  @if (viewActive) {
    <p-dialog
      id="network-statistics-settings-pane"
      [(visible)]="ShowNetworkStatisticsSettingsPane"
      header="Network Statistics Settings"
      [style]="{width: '400px'}"
      appendTo="body">
      <div class="form-group row" title="What size would you like the Network Statistics table font to be?">
        <div class="col-4 mt-2"><label for="network-statistics-font-size">Size</label></div>
        <div class="col-8">
          <p-selectButton
            inputId="network-statistics-font-size"
            [options]="sizes"
            [(ngModel)]="selectedSize"
            [multiple]="false"
            [allowEmpty]="false"
            optionLabel="name"
            optionValue="class">
          </p-selectButton>
        </div>
      </div>
    </p-dialog>
  }

  @if (viewActive) {
    <p-dialog
      id="network-statistics-export-pane"
      [(visible)]="ShowNetworkStatisticsExportPane"
      header="Export Network Statistics"
      appendTo="body">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body" style="width: 400px; height: 100%;">
            <div class="form-group row">
              <div class="col-12">
                <input
                  type="text"
                  style="height:42px"
                  class="form-control form-control-sm"
                  placeholder="Filename"
                  [(ngModel)]="SelectedNetworkStatisticsExportFilenameVariable">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-error" (click)="ShowNetworkStatisticsExportPane = false">Cancel</button>
            <button
              type="button"
              class="btn btn-primary"
              data-testid="network-statistics-export-confirm"
              [disabled]="!networkStatisticsResult"
              (click)="exportVisualization()">Export</button>
          </div>
        </div>
      </div>
    </p-dialog>
  }
</div>
