<div #epiCurve id="epiCurve">
  <svg #epiCurveSVG id="epiCurveSVG"></svg>
</div>

<div id="tool-btn-container-epi" class="tool-btn-container m-portlet">
  <span style="overflow: visible; position: relative;">
    <a title="Settings" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openSettings()"><i class="flaticon-settings primary"></i></a>
  </span>
  <span style="overflow: visible; position: relative;">
    <a title="Export Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openExport()"><i class="flaticon-download primary"></i></a>
  </span>
</div>

@if (viewActive) {
  <p-dialog id="epiCurve-settings-pane" [(visible)]="ShowEpiSettingsPane" header="Epi Curve Settings"
    [style]="{width: '500px', height:'490px'}" appendTo="body">
    <tabset class="tab-container tabbable-line">
      <tab heading="{{'Graph' | localize}}" [active]="true" customClass="m-tabs__item">
        <div class="tab-pane fade show active" id="table-node-settings" role="tabpanel" aria-labelledby="nodes-tab">
          <div class="tab-content">
            <div class="tab-pane fade show active" role="tabpanel">
              <div class="form-group row" title="Select the type of graph based on the number of date field you wish to display.">
                <div class="col-4">
                  <label>Graph Type</label>
                </div>
                <div class="col-8">
                  <p-select [options]="graphTypes" appendTo="body" class="width-percent-100" [(ngModel)]="selectedGraphType" (ngModelChange)="onGraphTypeChange()"></p-select>
                </div>
              </div>
              <div class="form-group row" title="Select a date field from your data. One is required to generate graph.">
                <div class="col-4">
                  <label>Date Field</label>
                </div>
                <div class="col-6" style="padding-right: 5px">
                  <p-select [options]="FieldList" appendTo="body" class="width-percent-100" [(ngModel)]="SelectedDateFieldVariable" (ngModelChange)="onDateFieldChange(0)"></p-select>
                </div>
                @if (selectedGraphType!='Single Date Field' || widgets['epiCurve-stackColorBy'] == 'None') {
                  <div class="col-2" style="padding: 0px 15px 0px 10px" title="Select a color for this date field.">
                    <input type="color" id="epi-color-select" class="form-control" style="padding: 5px 8px;" [(ngModel)]="widgets['epiCurve-colors'][0]" (change)="onNodeColorChanged()">
                  </div>
                }
              </div>
              @if (selectedGraphType!='Single Date Field') {
                <div class="form-group row additionalDateField" title="Select an additional date field.">
                  <div class="col-4">
                    <label>Date Field 2</label>
                  </div>
                  <div class="col-6" style="padding-right: 5px">
                    <p-select [options]="FieldList" appendTo="body" class="width-percent-100" [(ngModel)]="SelectedDateFieldVariable2" (ngModelChange)="onDateFieldChange(1)"></p-select>
                  </div>
                  <div class="col-2" style="padding: 0px 15px 0px 10px" title="Select a color for this date field.">
                    <input type="color" id="epi-color-select-2" class="form-control" style="padding: 5px 8px;" [(ngModel)]="widgets['epiCurve-colors'][1]" (change)="onNodeColorChanged()">
                  </div>
                </div>
              }
              @if (selectedGraphType!='Single Date Field') {
                <div class="form-group row additionalDateField" title="Select an additional date field.">
                  <div class="col-4">
                    <label>Date Field 3</label>
                  </div>
                  <div class="col-6" style="padding-right: 5px">
                    <p-select [options]="FieldList" appendTo="body" class="width-percent-100" [(ngModel)]="SelectedDateFieldVariable3" (ngModelChange)="onDateFieldChange(2)"></p-select>
                  </div>
                  <div class="col-2" style="padding: 0px 15px 0px 10px" title="Select a color for this date field.">
                    <input type="color" id="epi-color-select-3" class="form-control" style="padding: 5px 8px;" [(ngModel)]="widgets['epiCurve-colors'][2]" (change)="onNodeColorChanged()">
                  </div>
                </div>
              }
              <div class="form-group row" title="Select the size to bin the data by.">
                <div class="col-4">
                  <label>Bin Size</label>
                </div>
                <div class="col-8">
                  <p-select [options]="binSizes" appendTo="body" class="width-percent-100" [(ngModel)]="widgets['epiCurve-binSize']" (ngModelChange)="onBinSizeChange()"></p-select>
                </div>
              </div>

            <div class="form-group row" title="Show data noncumulatively or cumulatively.">
                <div class="col-4">Epi Curve</div>
                <div class="col-8">
                  <p-selectButton [allowEmpty]="false" fluid [(ngModel)]="widgets['epiCurve-cumulative']" (ngModelChange)="setCumulative()"
                    [options]="[{'label': 'Noncumulative', 'value': false}, {'label': 'Cumulative', 'value': true}]"></p-selectButton>
                </div>
              </div>

          </div>
          </div>
        </div>
      </tab>
      <tab heading="{{'Legend & Labels' | localize}}" customClass="m-tabs__item">
        <div class="form-group row" title="What interval to display ticks on x axis" id="epi-tick-size">
          <div class="col-4">
            <label for="cluster-minimum-size">X-axis Interval</label>
          </div>
          <div class="col-8">
            <input type="number" class="form-control form-control-sm" min="1" max="4" step="1" [(ngModel)]="tickInterval" (ngModelChange)="onTickIntevalChange()">
          </div>
        </div>
        <div class="form-group row node-label-row" title="Select a font Size for axis labels.">
          <div class="col-4 padding-right-5"><label>Label Size</label></div>
          <div class="col-8"><input type="range" class="custom-range" min="10" step="2" max="28" [(ngModel)]="labelSize" (ngModelChange)="onLabelSizeChange()"></div>
        </div>
        <div class="form-group row" title="Select where to display the legend.">
          <div class="col-4">
            <label>Legend Position</label>
          </div>
          <div class="col-8">
            <p-selectButton [options]="legendPositionOptions" [allowEmpty]="false" [(ngModel)]="widgets['epiCurve-legendPosition']" (ngModelChange)="onLegendPositionChange()"></p-selectButton>
          </div>
        </div>
        @if (widgets['epiCurve-legendPosition'] != 'Hide') {
          <div class="form-group row node-label-row" title="Select a font size for legend labels.">
            <div class="col-4 padding-right-5"><label>Legend Size</label></div>
            <div class="col-8"><input type="range" class="custom-range" min="10" step="2" max="28" [(ngModel)]="legendLabelSize" (ngModelChange)="onLegendLabelSizeChange()"></div>
          </div>
        }
      </tab>
      <tab customClass="m-tabs__item" [disabled]="selectedGraphType!='Single Date Field'">
        <ng-template tabHeading>
          <span title="Only available with a Single Date Field EpiCurve" style="pointer-events: auto;">{{'Order & Color' | localize}}</span>
        </ng-template>
        @if (selectedGraphType=='Single Date Field') {
          <div class="form-group row" id="useNodeColorRow" title="Select a field to use to color the graph. Optional">
            <div class="col-4">
              <label>Color By</label>
            </div>
            <div class="col-8">
              <p-select [options]="FieldListStack" appendTo="body" class="width-percent-100" [(ngModel)]="this.widgets['epiCurve-stackColorBy']" (ngModelChange)="onUseNodeColorChange()"></p-select>
            </div>
          </div>
          @if (widgets['epiCurve-stackColorBy'] != 'None') {
            <div class="form-group row" title="Select the order for stacked color groups.">
              <div class="col-4">
                <label>Stack Order</label>
              </div>
              <div class="col-8">
                <p-select [options]="stackOrderOptions" appendTo="body" class="width-percent-100" [(ngModel)]="widgets['epiCurve-stackOrder']" (ngModelChange)="onStackOrderChange()"></p-select>
              </div>
            </div>
            <div class="form-group row" title="Drag and drop stacked color groups to reorder them.">
              <div class="col-12">
                <p-orderList id="epi-stack-order-list" [value]="customStackOrderItems" [dragdrop]="true" (onReorder)="onCustomStackOrderReorder()">
                  <ng-template let-item pTemplate="item">
                    <div class="d-flex align-items-center width-percent-100" style="gap: 8px;">
                      <span style="flex: 1 1 auto; min-width: 0; overflow: hidden; text-overflow: ellipsis;">{{ item.label }}</span>
                      @if (widgets['epiCurve-stackColorBy'] != 'Node Color') {
                        <input type="color" class="form-control form-control-sm" style="width: 42px; padding: 2px;" [style.opacity]="1 - item.transparency" [ngModel]="item.color" (change)="onStackGroupColorChange(item, $any($event.target).value)" (click)="$event.stopPropagation()" (mousedown)="$event.stopPropagation()" (pointerdown)="$event.stopPropagation()" title="Color">
                        <a class="transparency-symbol" style="cursor: pointer;" title="Transparency" (click)="openStackGroupTransparencyPicker($event, item)" (mousedown)="$event.stopPropagation()" (pointerdown)="$event.stopPropagation()">&#8691;</a>
                      }
                    </div>
                  </ng-template>
                </p-orderList>
              </div>
            </div>
          }
        }
      </tab>
    </tabset>
  </p-dialog>
}

@if (viewActive) {
  <p-dialog id="epi-export-modal" [(visible)]="ShowEpiExportPane" appendTo="body" header="Export Epi Curve">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body" style='min-width: 400px; height: 100%;'>
          <div class="form-group row">
            <div class="col-9">
              <input type="text" class="form-control form-control-sm" placeholder="Filename" [(ngModel)]="EpiExportFileName">
            </div>
            <div class="col-3">
              <select [(ngModel)]="EpiExportFileType" class="form-control form-control-sm">
                <option>svg</option>
                <option>png</option>
              </select>
            </div>
          </div>
          <div [hidden]="EpiExportFileType=='svg'">
            <p-accordion [value]="null" [multiple]="true">
              <p-accordion-panel value="timeline-export-advanced" style="color:#495057">
                <p-accordion-header>Advanced</p-accordion-header>
                <p-accordion-content><div id="network-export-advanced">
                  <div class="form-group row">
                    <div class="col-3">
                      <label for="network-export-scale">Scale</label>
                    </div>
                    <div class="col-9">
                      <input type="number" id="network-export-scale" class="form-control form-control-sm" min="0" max="2" step="0.1" value="1" [(ngModel)]="SelectedNetworkExportScaleVariable" (ngModelChange)="updateCalculatedResolution()">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-3">Resolution</div>
                    <div id="network-export-dimensions" class="col-9 text-right">{{CalculatedResolution}}</div>
                  </div>
                </div>
              </p-accordion-content>
            </p-accordion-panel>
          </p-accordion>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-error" (click)="ShowEpiExportPane = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="exportVisualization()">Export</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</p-dialog>
}<!-- /.modal -->
