<div class="m-content">
  <div id="tool-btn-container" class="m-portlet">
    <span style="overflow: visible; position: relative; width: 110px;">
      <a title="Settings" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left"
        (click)="openSettings()"><i class="flaticon-settings primary"></i></a>
      </span>
      <span style="overflow: visible; position: relative; width: 110px;">
        <a title="Export Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left"
          (click)="openExport()"><i class="flaticon-download primary"></i></a>
        </span>
      </div>
      <div class="m-portlet__body" style="height: 100%; overflow: scroll">
        <br />
        <div class="gantt-plugin" id="gantt" ngShow="dataAvail()" style="cursor: grab;">
            <ngx-gantt-chart
              #ganttChart
              [data]="ganttChartData"
              [width]="ganttViewWidth"
              [gridWidthX]="gridWidthX"
              [gridWidthY]="gridWidthY"
              [fontSize]="fontSize">
            </ngx-gantt-chart>
        </div>
      </div>
    </div>
    <div class="view-controls">

      @if (viewActive) {
        <p-dialog id="gantt-settings-pane" [positionLeft]="GanttSettingsDialogSettings.left"
          [positionTop]="GanttSettingsDialogSettings.top" [(visible)]="GanttSettingsDialogSettings.isVisible" [style]="{ width: '590px' }"
          [contentStyle]="{'overflow': 'visible'}" header="Gantt Settings" appendTo="body">
          <tabset class="tab-container tabbable-line">
            <tab heading="{{'Gantt Entry' | localize}}" [active]="true" customClass="m-tabs__item">
              <p-accordion [multiple]="true" [value]="['gantt-new-entry']">
                <p-accordion-panel value="gantt-new-entry" style="color:#495057">
                  <p-accordion-header>New Entry</p-accordion-header>
                  <p-accordion-content><div #entrycontrols>
                    <div class="form-group row entry-name-row" title="What is the name of the entry?"
                      style="overflow:visible">
                      <div class="col-4"><label for="entry-name">Gantt Entry Name</label></div>
                      <div class="col-8">
                        <input type="text" id="entry-name" class="form-control form-control-sm"
                          placeholder="Entry Name" [(ngModel)]="GanttEntryName">
                        </div>
                      </div>
                      <div class="form-group row gantt-start-row" title="What field is the start date?"
                        style="overflow:visible">
                        <div class="col-4"><label for="gantt-start">Start Date</label></div>
                        <div class="col-8">
                          <p-select id="gantt-start" appendTo="body" [options]="FieldList" class="width-percent-100"
                          [(ngModel)]="GanttStartVariable"> </p-select>
                        </div>
                      </div>
                      <div class="form-group row gantt-end-row" title="What field is the end date?"
                        style="overflow:visible">
                        <div class="col-4"><label for="gantt-end">End Date</label></div>
                        <div class="col-8">
                          <p-select id="gantt-end" appendTo="body" [options]="FieldList" class="width-percent-100"
                          [(ngModel)]="GanttEndVariable"> </p-select>
                        </div>
                      </div>
                      <div class="form-group row gantt-color-row" title="What color should the entry be?"
                        style="overflow:visible">
                        <div class="col-4"><label for="gantt-color">Color</label></div>
                        <div class="col-8">
                          <input type="color" id="gantt-color" [(ngModel)]="GanttEntryColor">
                          <a class='transparency-symbol' (click)="openOpacityBar($event)">⇳</a>
                        </div>
                      </div>
                      <div class="form-group row gantt-submit-row" style="overflow:visible">
                        <div class="col-4"></div>
                        <div class="col-8">
                          <button type="button" class="btn btn-primary" [disabled]="!canCreateGanttEntry()" (click)="createGanttEntry()">Create
                          Entry</button>
                        </div>
                      </div>
                    </div>
                  </p-accordion-content>
                </p-accordion-panel>
              </p-accordion>
              <div style="height: 20px;"></div>
              @if (ganttEntries.length > 0) {
                <p-table [value]="ganttEntries" class="p-datatable-striped">
                  <ng-template #header>
                    <tr>
                      <th class='p-1 table-header-row'>Name</th>
                      <th class='p-1 table-header-row'>Start</th>
                      <th class='p-1 table-header-row'>End</th>
                      <th class='p-1 table-header-row'>Color</th>
                    </tr>
                  </ng-template>
                  <ng-template #body let-rowData>
                    <tr>
                      <td>{{ rowData.entryName }}</td>
                      <td>{{ rowData.startDate }}</td>
                      <td>{{ rowData.endDate }}</td>
                      <td>
                        <input type="color" value="{{ rowData.color }}" (change)="updateEntryColor(rowData.entryName, $event)">
                         <a class='transparency-symbol' (click)="openOpacityBar($event, rowData.entryName)">⇳</a>
                      </td>
                      <td>
                        <a title="Remove" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="removeGanttEntry(rowData.entryName)">
                          <span class="material-icons"> delete_outline </span>
                        </a>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              }
            </tab>
            <tab heading="{{'Visual Settings' | localize}}" customClass="m-tabs__item">
              <div class="form-group row" title="Show or Hide grid?">
                <div class="col-4">Grid</div>
                <div class="col-8">
                  <p-select-button [options]="ShowHideOptions" [(ngModel)]="showGrid" (ngModelChange)="changeShowGrid()"></p-select-button>
                </div>
              </div>
              <div class="form-group row" title="Adjust Height">
                <div class="col-4"><label >Spacing (Y)</label></div>
                <div class="col-8"><input type="number" class="form-control form-control-sm" min="10" step="5" max="50" [(ngModel)]="gridWidthY" (ngModelChange)="changeGridWidthY()" /></div>
              </div>
              <div class="form-group row" title="Adjust Width">
                <div class="col-4"><label >Spacing (X)</label></div>
                <div class="col-8"><input type="number" class="form-control form-control-sm" min="20" step="10" max="200" [(ngModel)]="gridWidthX" (ngModelChange)="changeGridWidthX()" /></div>
              </div>
              <div class="form-group row" title="Adjust Font Size">
                <div class="col-4"><label >Font Size</label></div>
                <div class="col-8"><input type="number" class="form-control form-control-sm" min="8" step="2" max="24" [(ngModel)]="fontSize" (ngModelChange)="changeFontSize()" /></div>
              </div> 
            </tab>
          </tabset>
        </p-dialog>
      }
    </div>

    @if (viewActive) {
      <p-dialog id="network-export-modal" [(visible)]="ShowGanttExportPane"
        header="Export Gantt Chart" class="dialogSize" (onHide)="onCloseExport()" appendTo="body">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body" style='min-width: 500px; height: 100%;'>
              <div class="form-group row">
                <div class="col-8">
                  <input type="text" id="gantt-image-filename" class="form-control form-control-sm"
                    placeholder="Image Filename" [(ngModel)]="SelectedGanttChartImageFilenameVariable">
                  </div>
                  <div class="col-3">
                    <p-select id="network-export-filetype" [options]="NetworkExportFileTypeList" appendTo="body"
                    [(ngModel)]="SelectedNetworkExportFileTypeListVariable"></p-select>
                  </div>
                  <div class="col-8">
                    <button type="button" id="export-tree" class="btn btn-primary"
                    (click)="saveImage($event)">Save Image</button>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </p-dialog>
        }<!-- /.modal -->
