<div class="m-content">
  <div id="tool-btn-container" class="m-portlet">
    <span style="overflow: visible; position: relative; width: 110px;">
      <a title="Settings" data-testid="sankey-settings-button" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left"
        (click)="openSettings()"><i class="flaticon-settings primary"></i></a>
      </span>
      <span style="overflow: visible; position: relative; width: 110px;">
        <a title="Export Screen" data-testid="sankey-export-button" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left"
          (click)="openExport()"><i class="flaticon-download primary"></i></a>
        </span>
      </div>
      <div class="m-portlet__body" style="height: 100%">
        <div id="sankey-container" style="padding: 60px 0px 10px 20px" (mouseup)="endDrag()" (mouseleave)="endDrag()" (mousemove)="move($event)">
          @if (SankeyFieldNames.length > 1) {
            <svg #sankeySVG [attr.width]="svgWidth" [attr.height]="svgHeight">
              <rect [attr.width]="svgWidth" [attr.height]="svgHeight" fill="#ffffff"></rect>
              @for (field of SankeyFieldNames; track field; let i = $index) {
                <g>
                  <text class="sankey-axis-label" [attr.data-field]="field" [attr.x]="layerPositions[i]" [attr.y]="svgHeight-50" [attr.text-anchor]="getAxisTextAnchor(i)" [style.font-size.px]="axisFontSize">{{ commonService.capitalize(field) }}</text>
                </g>
              }
              <g>
                @for (linkA of data['links']; track linkA) {
                  <g>
                    <path class="sankey-link-path" [attr.data-source]="linkA.source.name" [attr.data-source-layer]="linkA.source.layer" [attr.data-target]="linkA.target.name" [attr.data-target-layer]="linkA.target.layer" [attr.data-value]="linkA.value" [attr.d]="getLinkPathDefinition(linkA)" [attr.stroke]="getLinkColor(linkA)" [attr.stroke-width]=linkA.width [attr.opacity]="linkA.opacity" fill="none" (mouseenter)="showTooltip($event, linkA, 'Link')" (mouseleave)="hideTooltip()"></path>
                  </g>
                }
              </g>
              <g>
                @for (node of data['nodes']; track node) {
                  <g>
                    <rect class="sankey-node-rect" [attr.data-name]="node.name" [attr.data-layer]="node.layer" [attr.transform]="getNodeTransform(node)" [attr.width]="node.x1-node.x0" [attr.height]="node.y1-node.y0" [attr.fill]="node.color" (mouseenter)="showTooltip($event, node, 'Node')" (mouseleave)="hideTooltip()" (mousedown)="startDrag(node)"></rect>
                    <text class="sankey-node-label" [attr.data-name]="node.name" [attr.data-layer]="node.layer" [attr.x]="node.x1+4" [attr.y]="(node.y0+node.y1)/2+labelHeight/4" [style.font-size.px]="labelFontSize">{{ node.name }}</text>
                  </g>
                }
              </g>
            </svg>
          }
        </div>
      </div>
    </div>
    <div #tooltip class="custom-tooltip" [ngStyle]="{top: tooltipY + 'px', left: tooltipLeft ? (tooltipX + 'px') : null,  right: !tooltipLeft ? (tooltipX + 'px') : null, display: tooltipVisible ? 'block' : 'none'}">
      <table>
        @for (row of tooltipData; track row) {
          <tr>
            <td>{{ row['key']}}: </td>
            <td>{{ row['value'] }}</td></tr>
          }
        </table>
      </div>
      <div class="view-controls">
        @if (viewActive) {
          <p-dialog id="sankey-settings-pane" data-testid="sankey-settings-dialog" [(visible)]="SankeyExportDialogSettings.isVisible"
            [contentStyle]="{'overflow': 'visible'}" header="Sankey Chart Settings" appendTo="body">
            <tabset class="tab-container tabbable-line">
              <tab heading="{{'Variables' | localize}}" [active]="true" customClass="m-tabs__item" style="width: 400px; padding: 10px 10px 0px 10px;">
                <div>
                  <div class="form-group row gantt-start-row" title="What variable would you like to add to the Sankey Chart?" style="overflow:visible">
                    <div class="col-4"><label>Variable Name</label></div>
                    <div class="col-8">
                      <p-select id="sankey-variable-name" appendTo="body" [options]="FieldList" class="width-percent-100" [(ngModel)]="SelectedFieldName"> </p-select>
                    </div>
                  </div>
                  @if (SankeyFieldNames.length < 2) {
                    <div id="sankey-minimum-variables-warning" style="color: red">2 Variables are required to generate a Sankey graph</div>
                  }
                  <div class="form-group row gantt-add-row" style="overflow:visible">
                    <div class="col-4"></div>
                    <div class="col-8">
                      <button id="sankey-add-variable" type="button" class="btn btn-primary" (click)="addSelectedField()" [disabled]="fieldListFull() || this.SelectedFieldName == ''">Add Variable</button>
                    </div>
                  </div>
                  @if (SankeyFieldNames.length > 0) {
                    <p-table id="sankey-field-table" [value]="SankeyFieldNames" class="p-datatable-striped" (onRowReorder)="reorderRows($event)">
                      <ng-template #header>
                        <tr>
                          <th style="width: 3rem;"></th>
                          <th class='p-1 table-header-row'>Name</th>
                          <th style="width: 3rem;"></th>
                          <th>Remove</th>
                        </tr>
                      </ng-template>
                      <ng-template #body let-rowData let-index="rowIndex">
                        <tr [pReorderableRow]="index" [attr.data-field]="rowData" [attr.data-index]="index">
                          <td><span class="pi pi-bars" pReorderableRowHandle></span></td>
                          <td>{{ rowData }}</td>
                          <td><input class="sankey-layer-color-input" [attr.data-field]="rowData" [attr.data-index]="index" type="color" style="border:none" [(ngModel)]="layerColors[index]" (ngModelChange)="updateColors(index)"></td>
                          <td><p-button class="sankey-remove-field-button" [attr.data-field]="rowData" [attr.data-index]="index" icon="pi pi-times" (onClick)="removeField(rowData)"/></td>
                        </tr>
                      </ng-template>
                    </p-table>
                  }
                </div>
              </tab>
              <tab heading="{{'Visual Settings' | localize}}" customClass="m-tabs__item" style="width: 400px; padding: 10px 10px 0px 10px;">
                <div class="form-group row gantt-start-row" title="" style="overflow:visible">
                  <div class="col-5"><label>Link Color</label></div>
                  <div class="col-5">
                    <p-select id="sankey-link-color" appendTo="body" [options]="LinkColorOptions" class="width-percent-100" [(ngModel)]="SelectedColorOption"> </p-select>
                  </div>
                  @if (SelectedColorOption=='Uniform') {
                    <div div class="col-2">
                      <input id="sankey-link-color-uniform" type="color" style="border:none" [(ngModel)]="SelectedColorForUniform">
                    </div>
                  }
                </div>
                <div class="form-group row node-label-row" title="How big should node labels be?">
                  <div class="col-5"><label>Label Font Size</label></div>
                  <div class="col-7"><input id="sankey-label-font-size" type="range" class="custom-range" min="12" max="48" [(ngModel)]="labelFontSize" (change)="onlabelFontSizeChange()"></div>
                </div>
                <div class="form-group row node-label-row" title="How big should node labels be?">
                  <div class="col-5"><label>Axis Font Size</label></div>
                  <div class="col-7"><input id="sankey-axis-font-size" type="range" class="custom-range" min="16" max="52" [(ngModel)]="axisFontSize" (change)="onaxisFontSizeChange()"></div>
                </div>
              </tab>
            </tabset>
          </p-dialog>
        }
      </div>

      @if (viewActive) {
        <p-dialog data-testid="sankey-export-dialog" [(visible)]="ShowSankeyExportPane" header="Export Sankey Chart" appendTo="body">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body" style='min-width: 500px; height: 100%;'>
                <div class="form-group row">
                  <div class="col-8">
                    <input id="sankey-export-filename" type="text" class="form-control form-control-sm" style="height: 42px;"
                      placeholder="Image Filename" [(ngModel)]="SelectedSankeyImageFilename">
                    </div>
                    <div class="col-4">
                      <p-select id="sankey-export-filetype" [options]="NetworkExportFileTypeList"
                      [(ngModel)]="SelectedNetworkExportFileTypeListVariable"></p-select>
                    </div>
                  </div>
                  <div [hidden]="SelectedNetworkExportFileTypeListVariable=='svg'">
                    <p-accordion [value]="null" [multiple]="true">
                      <p-accordion-panel value="sankey-export-advanced" style="color:#495057">
                        <p-accordion-header>Advanced</p-accordion-header>
                        <p-accordion-content><div>
                          <div class="form-group row">
                            <div class="col-3">
                              <span>Scale</span>
                            </div>
                            <div class="col-9">
                              <input id="sankey-export-scale" type="number" class="form-control form-control-sm" min="0" max="2" step="0.1" [(ngModel)]="SankeyExportScaleVariable" (ngModelChange)="updateCalculatedResolution()">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-3">Resolution</div>
                            <div id="sankey-export-resolution" class="col-9 text-right">{{CalculatedResolution}}</div>
                          </div>
                        </div>
                      </p-accordion-content>
                    </p-accordion-panel>
                  </p-accordion>
                </div>
              </div>
              <div class="modal-footer">
                <button id="sankey-export-cancel" type="button" class="btn btn-error" (click)="ShowSankeyExportPane=false">Cancel</button>
                <button id="sankey-export-submit" type="button" class="btn btn-primary" (click)="exportVisualization()">Export</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </p-dialog>
        }<!-- /.modal -->
